.no-data {
  text-align: center;
  color: gray-500;
  /* Tailwind gray-500 */
  padding: 6rem;
  font-size: 1.25rem;
  /* Tailwind text-lg */
  font-weight: 500;
  /* Tailwind font-medium */
  font-family: sans-serif;
  background-color: #f9fafb;
  /* Tailwind gray-100 */
  border-radius: 0.5rem;
  /* Tailwind rounded-lg */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* Tailwind shadow */
  margin-bottom: 1rem;
  width: 100%;
  border: 3px dashed #e5e7eb;
  /* Tailwind gray-200 */
  margin-top: 20px;
}
