.container-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fija el header en la ventana */
  top: 0; /* Lo posiciona en la parte superior */
  left: 0; /* Lo alinea a la izquierda */
  width: 100%; /* Ocupa todo el ancho */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  background-color: white; /* Evita que el contenido de abajo se vea a través */
}
