<div class="container-header" [ngClass]="{'header-admin': user?.role === 'ROLE_ADMIN' || user?.role === 'ROLE_MOD'}">
  <p-menubar [model]="items" class="custom-menubar"
    [ngClass]="{'header-admin': user?.role === 'ROLE_ADMIN' || user?.role === 'ROLE_MOD'}">
    <ng-template pTemplate="end">
      <!-- Usamos @if con el pipe async para manejar el observable -->
      @if ((currentUser$ | async); as user) {
      <!-- Bloque que se muestra si el usuario está logueado -->
      <div class="flex align-items-center gap-2">
        <p-overlaybadge [value]="unreadCount > 0 ? unreadCount : 0" severity="danger" (click)="op.toggle($event)">
          <i class="pi pi-bell p-overlay-badge" style="font-size: 1.2rem; cursor: pointer;"></i>
        </p-overlaybadge>
        <p-popover #op>
          <app-notifications></app-notifications>
        </p-popover>
        <span class="font-light text-sm"
          [ngClass]="{'text-white': user?.role === 'ROLE_ADMIN' || user?.role === 'ROLE_MOD'}">Hola, {{ user.username
          }}</span>
        <div>
          @if (user.role === 'ROLE_ADMIN') {
          <p-tag icon="fa fa-user-cog" severity="danger" value="Admin" [rounded]="true" />
          }
          @if (user.role === 'ROLE_MOD') {
          <p-tag icon="fa fa-user-pen" severity="warn" value="Mod" [rounded]="true" />
          }
        </div>
        <p-avatar icon="pi pi-user" styleClass="cursor-pointer" shape="circle" (click)="menu.toggle($event)" />
      </div>
      } @else {
      <!-- Bloque que se muestra si NO hay usuario -->
      <div class="flex align-items-center gap-2">
        <p-button label="Iniciar sesión" icon="pi pi-sign-in" styleClass="p-button-sm p-button-text"
          routerLink="/login" />
        <p-button label="Registro" icon="pi pi-user-plus" styleClass="p-button-sm" routerLink="/register" />
      </div>
      }
    </ng-template>
  </p-menubar>

</div>


<p-menu #menu [model]="profileItems" [popup]="true" />
