.container-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  padding-left: 6rem;
  padding-right: 6rem;
}

:host ::ng-deep p-tag .p-tag-label {
  margin-left: 5px !important;
  font-size: 12px;
}

:host ::ng-deep p-menu, .p-menu-list .custom-menu {
  position: static;
  top: 0 !important;
  left: 0;
}

:host ::ng-deep p-menubar, .p-menubar .custom-menubar {
  border: 0;
  padding: 0.5rem 0;
}

.header-admin {
  background-color: #767676; /* Color de fondo amarillo */
}

:host ::ng-deep p-badge, .p-badge-circle {
  font-size: 0.6rem;
}

:host ::ng-deep p-badge, .p-badge {
  min-width: 16px;
  height: 16px;
}
