<div class="management-panel-container">
  <app-header-page [title]="'Panel de Gestión'" [icon]="'fas fa-cog'"></app-header-page>
  <div class="card flex justify-center content-spinner" *ngIf="isLoading">
    <p-progress-spinner strokeWidth="4" fill="transparent" animationDuration=".0.5s"
      [style]="{ width: '50px', height: '50px' }" />
  </div>
  <div class="card h-50" *ngIf="!isLoading && user">
    <p-tabs value="{{ valueTab }}" scrollable>
      <p-tablist>
        <ng-template #previcon>
          <i class="pi pi-minus"></i>
        </ng-template>
        <p-tab value="0" class="flex items-center !gap-2" (click)="tabAnimals()"
          *ngIf="['ROLE_ADMIN', 'ROLE_MOD'].includes(user()?.role)">
          <i [ngClass]="{'fa fa-paw': user()?.role === 'ROLE_ADMIN', 'fa fa-clock': user()?.role === 'ROLE_MOD'}"></i>
          <span class="font-bold whitespace-nowrap">{{user()?.role === 'ROLE_MOD' ? 'Pendientes publicar' :
            'Animales'}}</span>
          <p-tag severity="warn" [value]="countTabAnimals" [rounded]="true" />
        </p-tab>
        <p-tab value="1" class="flex items-center !gap-2" *ngIf="['ROLE_ADMIN'].includes(user()?.role)">
          <i class="fa fa-file"></i>
          <span class="font-bold whitespace-nowrap">Solicitudes</span>
          <p-tag severity="warn" value="0" [rounded]="true" />
        </p-tab>
        <p-tab value="2" class="flex items-center !gap-2" (click)="tabUsers()"
          *ngIf="['ROLE_ADMIN'].includes(user()?.role)">
          <i class="fa fa-users"></i>
          <span class="font-bold whitespace-nowrap">Usuarios</span>
        </p-tab>
        <p-tab value="3" class="flex items-center !gap-2" *ngIf="['ROLE_ADMIN'].includes(user()?.role)">
          <i class="fa fa-file"></i>
          <span class="font-bold whitespace-nowrap">Estadísticas</span>
        </p-tab>
        <ng-template #nexticon>
          <i class="pi pi-plus"></i>
        </ng-template>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          @if (dataTable() && dataTable().length > 0) {
          <p-table #dt2 [value]="dataTable()" [tableStyle]="{ 'min-width': '60rem' }"
            [globalFilterFields]="['name', 'gender', 'specie', 'protectressName', 'publishedText']" [paginator]="true"
            [rows]="10" [rowsPerPageOptions]="[5, 10, 20]">
            <ng-template #caption>
              <div class="flex">
                <p-iconfield iconPosition="left" class="ml-auto">
                  <p-inputicon>
                    <i class="pi pi-search"></i>
                  </p-inputicon>
                  <input pInputText type="text" (input)="dt2.filterGlobal(getEventValue($event), 'contains')"
                    placeholder="Buscar palabra clave" />
                </p-iconfield>
              </div>
            </ng-template>
            <ng-template #header>
              <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Especie</th>
                <th>Género</th>
                <th>Edad</th>
                <th>Estado</th>
                <th>Publicado</th>
                <th>Escalado</th>
                <th>Protectora</th>
                <th>Acciones</th>
              </tr>
            </ng-template>
            <ng-template #body let-animal>
              <tr [ngClass]="{'bg-gray-100 opacity-70': user()?.role === 'ROLE_MOD' && animal.assignedToAdmin}"
                [pTooltip]="(user()?.role === 'ROLE_MOD' && animal.assignedToAdmin) ?
                'Este caso está siendo gestionado por un administrador. No puedes realizar acciones.' : ''"
                tooltipPosition="top">
                <td>
                  <img [src]="animal.urlImage" [alt]="animal.name" class="w-2rem rounded" />
                </td>
                <td>{{ animal.name }} </td>
                <td>
                  <i class="fa-solid"
                    [ngClass]="{'fa-cat': animal.specie === 'Gato', 'fa-dog': animal.specie === 'Perro'}"></i>
                </td>
                <td>
                  <i class="fa-solid"
                    [ngClass]="{'fa-mars': animal.gender === 'Macho', 'fa-venus': animal.gender === 'Hembra'}"></i>
                </td>
                <td>{{ animal.age | formattedAge}}</td>
                <td>
                  <p-tag [value]="formattedStates(animal)" [severity]="getStatus(animal)" [rounded]="true" />
                </td>
                <td>
                  <i class="fa-solid"
                    [ngClass]="{'fa-circle-check text-green-500': animal.published, 'fa-circle-xmark text-red-500': !animal.published}"
                    [pTooltip]="animal.published ? 'Publicado' : 'Sin publicar'" tooltipPosition="top"></i>
                </td>
                <td>
                  @if (animal.scaled?.length > 0) {
                  @if (getScaledStatusTag(animal); as status) {
                  <p-button [icon]="status === 'Pendiente' ? 'fa-solid fa-clock' : 'fa-solid fa-circle-info'"
                    [severity]="setColorTagScaled(status)" [rounded]="true" [text]="false"
                    (click)="openModalScaled(animal)" pTooltip="Ver info" tooltipPosition="top" [label]="status"
                    size="small"></p-button>
                  }
                  }
                </td>
                <td>{{ animal.protectressName }}</td>
                <td>
                  <!-- Editar -->
                  <p-button icon="fa-solid fa-pen-to-square"
                    styleClass="p-button-rounded p-button-warning p-button-text" (click)="editAnimal(animal.id)"
                    [disabled]="isEditDisabled(animal) || (user()?.role === 'ROLE_MOD' && (animal.assignedToAdmin || animal.published))"
                    [pTooltip]="getEditTooltip(animal)" tooltipPosition="top"></p-button>
                  <!-- Publicar -->
                  <p-button icon="fa-solid"
                    [ngClass]="{'fa-eye-slash': animal.published, 'fa-cloud-arrow-up': !animal.published}"
                    styleClass="p-button-rounded p-button-warning p-button-text"
                    (click)="modalconfirmation($event, animal, 'publish')"
                    [disabled]="isPublishDisabled(animal) || (user()?.role === 'ROLE_MOD' && animal.assignedToAdmin)"
                    [pTooltip]="getPublishTooltip(animal)" tooltipPosition="top"></p-button>
                  @if (user()?.role === 'ROLE_MOD') {
                  <!-- Escalar -->
                  @if (!animal.published) {
                  <p-button icon="fa-solid"
                    [ngClass]="{'fa-comment': !hasModeratorScaled(animal), 'fa-comment-slash': hasModeratorScaled(animal)}"
                    styleClass="p-button-rounded p-button-warning p-button-text" (click)="scaledAnimal(animal)"
                    [disabled]="hasModeratorScaled(animal)"
                    [pTooltip]="hasModeratorScaled(animal) ? 'Ya escalado' : 'Escalar a administrador'"
                    tooltipPosition="top"></p-button>
                  }
                  }
                  @if (user()?.role === 'ROLE_ADMIN') {
                  <!-- Eliminar -->
                  <p-button icon="fa-solid fa-trash" styleClass="p-button-rounded p-button-warning p-button-text"
                    (click)="modalconfirmation($event, animal, 'delete')" pTooltip="Eliminar animal"
                    tooltipPosition="top"></p-button>
                  }
                </td>
              </tr>
            </ng-template>
            <ng-template #footer>
              <tr>
                <td colspan="5" class="font-bold">Total {{ dataTable().length }} animales.</td>
              </tr>
            </ng-template>
          </p-table>
          } @else {
          <app-card-nodata message="No hay animales disponibles para gestionar."></app-card-nodata>
          }
        </p-tabpanel>
        <p-tabpanel value="1">
          <app-card-nodata [message]="'En contrucción...'"></app-card-nodata>
        </p-tabpanel>
        <p-tabpanel value="2">
          @if (dataTable() && dataTable().length > 0) {
          <p-table [value]="dataTable()" [tableStyle]="{ 'min-width': '60rem' }">
            <ng-template #caption />
            <ng-template #header>
              <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
              </tr>
            </ng-template>
            <ng-template #body let-user>
              <tr>
                <td>{{ user.username }} </td>
                <td>{{ user.email }} </td>
                <td>
                  <div class="field h-4rem">
                    <p-select id="state" [(ngModel)]="user.role" [options]="roles" optionLabel="label"
                      optionValue="value" placeholder="Selecciona un rol" styleClass="w-full"
                      (onChange)="updateRolUser(user)" filter="true" appendTo="body">
                    </p-select>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template #footer>
              <tr>
                <td colspan="5" class="font-bold">Total {{ dataTable().length }} usuarios registrados.
                </td>
              </tr>
            </ng-template>
          </p-table>
          } @else {
          <app-card-nodata message="No hay usuarios disponibles para gestionar."></app-card-nodata>
          }
        </p-tabpanel>
        <p-tabpanel value="3">
          <app-statistics></app-statistics>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>

<p-dialog header="Escalar a {{selectedScaledAnimal()?.name}} a un administrador" [modal]="true"
  [(visible)]="showModalScaled" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-4">Envia un mensaje a un administrador para que revise tu caso.</span>
  <div class="flex items-center mb-4">
    <textarea rows="5" cols="100%" pTextarea [(ngModel)]="scaleComment"
      placeholder="Escribe tu mensaje aqui..."></textarea>
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Cancelar" severity="secondary" (click)="showModalScaled = false" />
    <p-button label="Enviar" icon="pi pi-send" [disabled]="scaleComment === ''" (click)="sendScaledAnimal()" />
  </div>
</p-dialog>

<p-toast />
<p-confirmdialog />

<p-dialog header="Información de Escalado" [modal]="true" [(visible)]="showInfoScaled" (onHide)="onInfoModalHide()"
  [styleClass]="'modern-dialog'" [style]="{ width: '28rem' }">
  @if (selectedScaledAnimal()?.scaled?.length > 0) {
  <div class="p-fluid">
    <!-- Mensajes de Estado -->
    @if (showModPendingMessage()) {
    <p-message severity="info" styleClass="w-full mt-1 mb-3">
      <div class="flex items-center">
        <i class="pi pi-clock text-xl mr-3"></i>
        <div>
          <strong>Su petición se está revisando.</strong>
          <p class="mt-1">Un administrador está revisando su caso y le responderá en la mayor brevedad posible.</p>
        </div>
      </div>
    </p-message>
    }
    @if (showModResolvedMessage()) {
    <p-message severity="success" styleClass="w-full mt-1 mb-3">
      <div class="flex items-center">
        <i class="pi pi-check-circle text-xl mr-3"></i>
        <div>
          <strong>Caso revisado por un administrador.</strong>
          <p class="mt-1">El administrador ha dejado un comentario. Por favor, revise la información y proceda a
            publicar la ficha del animal.</p>
        </div>
      </div>
    </p-message>
    }
    @if (showAdminPendingMessage()) {
    <p-message severity="warn" styleClass="w-full mt-1 mb-3">
      <div class="flex items-center">
        <i class="pi pi-exclamation-triangle text-xl mr-3"></i>
        <div>
          <strong>Revisión Requerida</strong>
          <p class="mt-1">Este caso ha sido escalado por un moderador y necesita su atención.</p>
        </div>
      </div>
    </p-message>
    }
    @if (showAdminResolvedMessage()) {
    <p-message severity="info" styleClass="w-full mt-1 mb-3">
      <div class="flex items-center">
        <i class="pi pi-info-circle text-xl mr-3"></i>
        <div>
          <strong>Caso devuelto al moderador.</strong>
          <p class="mt-1">Ya ha respondido a este caso. El moderador revisará sus comentarios.</p>
        </div>
      </div>
    </p-message>
    }
    @if (showAdminToAssignedMessage()) {
    <p-message severity="warn" styleClass="w-full mt-1 mb-3">
      <div class="flex items-center">
        <i class="pi pi-info-circle text-xl mr-3"></i>
        <div>
          <strong>Caso asignado a un administrador.</strong>
          <p class="mt-1">Esta ficha ha sido asignada a un administrador para su revisión.</p>
        </div>
      </div>
    </p-message>
    }
    @if (showModToAssignedMessage()) {
    <p-message severity="secondary" styleClass="w-full mt-1 mb-3">
      <div class="flex items-center">
        <i class="pi pi-info-circle text-xl mr-3"></i>
        <div>
          <strong>Un administrador se ha asignado el caso.</strong>
          <p class="mt-1">Este caso está siendo gestionado por un administrador. No puedes realizar acciones.</p>
        </div>
      </div>
    </p-message>
    }

    <!-- Datos del escalado (Moderador) -->
    @if (moderatorData(); as moderator) {
    <div class="flex mb-2">
      <div class="col">
        <div class="field mb-2 text-sm">
          <div class="text-color-secondary mb-1">Ficha Escalada:</div>
          <div class="font-medium">{{moderator.animalData.name}}</div>
        </div>
        <div class="field mb-2 text-sm">
          <div class="text-color-secondary mb-1">Escalado por:</div>
          <div class="font-medium">{{moderator.email}}</div>
        </div>
      </div>
      <div class="col">
        <div class="field mb-2 text-sm">
          <div class="text-color-secondary mb-1">Fecha y hora:</div>
          <div class="font-medium">{{moderator.dateHour.date }} {{moderator.dateHour.hour }}</div>
        </div>
      </div>
    </div>
    }

    <!-- Comentarios de la conversación -->
    <div>
      <div class="field mb-4 text-sm">
        <!-- Mensajes para el Administrador: su comentario a la derecha -->
        @if (moderatorData(); as modData) {
        <div class="flex justify-content-end">
          <div class="content-message">
            <p><strong>{{modData.name}}</strong> (Moderador)</p>
            <p>{{ modData.comment }}</p>
          </div>
        </div>
        }
        @if (adminData(); as adminData) {
        <div class="flex justify-content-start">
          <div class="content-message">
            <p><strong>{{adminData.name}}</strong> (Administrador)</p>
            <p>{{ adminData.comment }}</p>
          </div>
        </div>
        }
      </div>
    </div>

    <!-- Panel de acción para el administrador -->
    @if (showAdminActionPanel()) {
    <div class="flex items-center mb-4 mt-4">
      <textarea rows="3" cols="100%" pTextarea [(ngModel)]="scaleComment"
        placeholder="Escribe tu mensaje aqui..."></textarea>
    </div>
    }

    <!-- Botones de acción -->
    <div class="flex justify-content-end pt-3 border-top-1 surface-border gap-2">
      @if (showModeratorCloseButton() || showAdminCloseButton()) {
      <p-button label="Cerrar" severity="secondary" (click)="showInfoScaled = false" class="p-button-outlined" />
      }
      @if (showAdminActionPanel()) {
      <p-button label="Asignar a Administrador" severity="danger" class="p-button-outlined"
        (click)="resolveScaled('toAdmin')" [disabled]="scaleComment === ''" />
      <p-button label="Enviar y devolver" severity="success" (click)="resolveScaled('toMod')"
        [disabled]="scaleComment === ''" />
      }
    </div>
  </div>
  }
</p-dialog>
