.animal-detail-container {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.image-container {
  width: 100%;
  max-width: 400px; /* Limita el ancho para que no sea demasiado grande en pantallas anchas */
  aspect-ratio: 1 / 1; /* Mantiene una relación de aspecto cuadrada */
}

.animal-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
}

.status-tag {
  top: 1rem;
  left: 1rem;
  /* La clase 'absolute' ya está en el HTML */
}

h3 {
  i {
    color: #88b78a;
  }
}

.request-sent-message {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--p-green-50);
  border-left: 5px solid var(--p-green-500);
  border-radius: 8px;
}

.dark .request-sent-message {
  background-color: #1a2e29;
}
