<div class="auth-container">
  <p-dialog
    [(visible)]="displayDialog"
    [modal]="true"
    [style]="{ width: '350px' }"
    [draggable]="false"
    [resizable]="false"
    [closable]="false"
  >
    <div class="text-center p-4">
      <i class="pi pi-exclamation-circle text-yellow-500" style="font-size: 3rem"></i>
      <h2 class="text-xl font-bold my-4">Aviso</h2>
      <p class="text-md text-gray-600 mb-5">{{ dialogMessage }}</p>
      <p-button
        label="Entendido"
        (click)="displayDialog=false"
        styleClass="p-button-warning w-full"
      ></p-button>
    </div>
  </p-dialog>

  <p-card styleClass="auth-card">
    <ng-template pTemplate="title">
      <div class="auth-title">
        <i class="pi pi-user mr-2 "></i>
        Iniciar Sesión
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <div *ngIf="isLoading" class="flex justify-content-center align-items-center py-6">
        <p-progressSpinner></p-progressSpinner>
      </div>

      <form *ngIf="!isLoading" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="field">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input id="email" type="email" pInputText formControlName="email" class="w-full" placeholder="tu@email.com" />
        </div>

        <div class="field">
          <label for="password" class="form-label">Contraseña</label>
          <p-password inputId="password" [feedback]="false" formControlName="password" styleClass="w-full"
            inputStyleClass="w-full" [toggleMask]="true"></p-password>
        </div>

        <div class="mt-4">
          <p-button label="Acceder" styleClass="w-full" type="submit" [disabled]="form.invalid"></p-button>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="auth-footer">
        <span>¿No tienes una cuenta? </span>
        <a routerLink="/register" class="font-semibold ml-2">Regístrate aquí</a>
      </div>
    </ng-template>
  </p-card>
</div>
