<p-toast></p-toast>
<div class="protector-form-container">
  <app-header-page [title]="pageTitle" [icon]="'fa-solid fa-circle-plus'"></app-header-page>
  <div class="protector-form">
    <form [formGroup]="protectorForm" (ngSubmit)="saveProtector()">
      <div class="flex gap-4">
        <div class="w-1/3 p-4">
          <div class="flex flex-column">
            <span class="text-neutral-600 text-lg">
              Datos de la protectora
            </span>
            <span class="text-gray-400 text-sm">
              Información principal de la protectora.
            </span>
            <span class="text-gray-400 text-sm mt-2" *ngIf="isEditMode">ID: {{ protectorForm.value.id }}</span>
          </div>
        </div>
        <div class="w-full p-4">
          <div class="flex gap-4">
            <div class="w-1/2">
              <div class="field">
                <label for="protectorName" class="form-label">Nombre</label>
                <input id="protectorName" type="text" pInputText formControlName="name" class="w-full" />
              </div>
              <div class="field">
                <label for="protectorPhone" class="form-label">Teléfono</label>
                <input id="protectorPhone" type="text" pInputText formControlName="phone" class="w-full" />
              </div>
            </div>
            <div class="w-1/2">
              <div class="field">
                <label for="protectorEmail" class="form-label">Correo electrónico</label>
                <input id="protectorEmail" type="text" pInputText formControlName="email" class="w-full" />
              </div>
              <div class="field">
                <label for="protectorProvince" class="form-label">Provincia</label>
                <p-select id="protectorProvince" formControlName="province" [options]="provinces"
                  placeholder="Selecciona una provincia" filterBy="label" styleClass="w-full">
                </p-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-buttons">
        <p-button label="Guardar cambios" icon="pi pi-save" type="submit" [disabled]="!protectorForm.valid"
          [raised]="true" [rounded]="true"></p-button>
      </div>
    </form>
  </div>
</div>
