/* Estilo general del contenedor del formulario */
.protector-form-container {
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 55rem;
}

/* Etiqueta del formulario */
.form-label {
  display: block;
  font-size: 0.9rem;
  color: #34495e;
  font-weight: 600;
  margin-bottom: 8px; /* Espacio entre la etiqueta y el input */
}

/* Espaciado de los campos de PrimeFlex */
.field {
  margin-bottom: 1.25rem;
}

/* Estilo de los inputs */
:host ::ng-deep .p-inputtext:focus,
:host ::ng-deep .p-inputnumber-input:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.25);
}

/* Contenedor para los botones */
.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.protector-form {
  padding: 20px;
}
