:host ::ng-deep .p-tooltip {
  max-width: 300px;
  /* Aumenta el ancho máximo del tooltip */
  width: auto;
  /* Permite que el ancho se ajuste al contenido */
}


.tooltip-size {
  height: 500px;
  width: 900px;
}

.content-message {
  background-color: #88b78a;
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 8px;
  width: 45%;
}


:host ::ng-deep .p-dialog {
  width: 50vw !important;
}

.hide-filter {
  visibility: hidden !important;
}

/* Estilo para filas que necesitan revisión */
.needs-review-row {
  background-color: #fff3cd; /* Un color amarillo claro para resaltar */
  border-left: 5px solid #ffc107; /* Una barra lateral para mayor visibilidad */
}
