<p-toast></p-toast>
<div class="animal-form-container">
  <app-header-page [title]="pageTitle" [icon]="'fa-solid fa-circle-plus'"></app-header-page>
  <div class="animal-form">
    <p-message *ngIf="isClone" severity="info" styleClass="w-full mb-4">
      <div class="flex items-center">
        <i class="fa-solid fa-clone text-xl mr-3"></i>
        <div>
          <strong>Estás editando una ficha clonada.</strong>
          <p class="mt-1">Recuerda revisar todos los campos antes de guardar.</p>
        </div>
      </div>
    </p-message>
    <p-message *ngIf="isEditMode && infractionDetails?.status.toLowerCase() === 'pending_review'"
       severity="warn" styleClass="w-full mb-4">
      <div class="flex items-center">
        <i class="pi pi-exclamation-triangle text-xl mr-3"></i>
        <div>
          <strong>Ficha marcada para revisión por contenido inapropiado.</strong>
          <p class="mt-1" *ngIf="infractionDetails.context as context">
            El campo <strong class="text-red-500">"{{ context.fieldName }}"</strong> contiene las siguientes palabras consideradas inapropiadas: <strong class="text-red-500">{{ context.infringingWords?.join(', ') }}</strong>.
          </p>
        </div>
      </div>
    </p-message>
    <p-message *ngIf="isEditMode && infractionDetails?.status.toLowerCase() === 'resolved'"
       severity="success" styleClass="w-full mb-4">
      <div class="flex items-center">
        <i class="fa-solid fa-shield-halved text-xl mr-3"></i>
        <div>
          <strong>Ficha Corregida.</strong>
          <p class="mt-1">
            Esta ficha tenía contenido inapropiado pero ya ha sido corregida y revisada.
          </p>
        </div>
      </div>
    </p-message>
    <p-message *ngIf="isAnimalScaled" severity="error" styleClass="w-full mb-4">
      <div class="flex items-center">
        <i class="pi pi-lock text-xl mr-3"></i>
        <div>
          <strong>Edición no disponible</strong>
          <p class="mt-1">Para proteger el historial, los campos de un animal escalado no se pueden modificar.</p>
        </div>
      </div>
    </p-message>
    <form [formGroup]="animalForm" (ngSubmit)="saveAnimal()">
      <div>
        <div class="flex gap-4">
          <div class="w-1/3 p-4">
            <div class="flex flex-column">
              <span class="text-neutral-600 text-lg">
                Datos del animal
              </span>
              <span class="text-gray-400 text-sm">
                Información principal del animal.
              </span>
              <span class="text-gray-400 text-sm mt-2" *ngIf="isEditMode">ID: {{ animalForm.value.id }}</span>
            </div>
          </div>
          <div class="w-full p-4">
            <div class="flex gap-4">
              <div class="w-1/2">
                <div class="field">
                  <label for="animalName" class="form-label">Nombre</label>
                  <input id="animalName" type="text" pInputText formControlName="name" class="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': animalForm.get('name')?.hasError('infraction')}" />
                  <small *ngIf="animalForm.get('name')?.hasError('infraction')" class="p-error">
                    {{ animalForm.get('name')?.errors?.['infraction'] }}
                  </small>
                </div>

                <div class="field">
                  <label for="animalSpecies" class="form-label">Especie</label>
                  <p-select id="specie" formControlName="specie" [options]="species"
                    placeholder="Selecciona una especie" styleClass="w-full">
                  </p-select>
                </div>

                <div class="field">
                  <label for="gender" class="form-label">Género</label>
                  <p-select id="gender" formControlName="gender" [options]="genders" placeholder="Selecciona un género"
                    filterBy="label" styleClass="w-full">
                  </p-select>
                </div>

                <div class="field">
                  <label for="animalProvince" class="form-label">Provincia</label>
                  <p-select id="province" formControlName="province" [options]="provinces"
                    placeholder="Selecciona una provincia" filterBy="label" styleClass="w-full">
                  </p-select>
                </div>

                <div class="field">
                  <label for="animalProtectress" class="form-label">Protectora</label>
                  <p-select id="protectress" formControlName="protectressID" [options]="protectors"
                    placeholder="Selecciona una protectora" optionLabel="name" optionValue="id" filter="true"
                    styleClass="w-full">
                  </p-select>
                </div>
              </div>
              <div class="w-1/2">
                <div class="field">
                  <label for="birthDate" class="form-label">Fecha de Nacimiento</label>
                  <p-datepicker formControlName="age" class="w-full" dateFormat="dd/mm/yy"></p-datepicker>
                </div>

                <div class="field">
                  <label for="animalRace" class="form-label">Raza</label>
                  <p-select id="race" formControlName="race" [options]="races" placeholder="Selecciona una raza"
                    filterBy="label" styleClass="w-full" [disabled]="!animalForm.get('specie')?.value">
                  </p-select>
                </div>

                <div class="field">
                  <label for="animalUrlImage" class="form-label">URL de la Imagen</label>
                  <div class="flex items-center">
                    <input id="animalUrlImage" type="text" pInputText formControlName="urlImage" class="w-full" />
                    <button type="button" pButton icon="pi pi-clipboard" (click)="paste()"
                      pTooltip="Pegar URL del portapapeles" tooltipPosition="top" [disabled]="isAnimalScaled"></button>
                  </div>
                </div>
                <div class="field">
                  <label for="size" class="form-label">Tamaño</label>
                  <p-select id="size" formControlName="size" [options]="sizes" placeholder="Selecciona un tamaño"
                    filterBy="label" styleClass="w-full">
                  </p-select>
                </div>
              </div>
            </div>
            <div class="card grid">
              <div class="col">
                <div class="field">
                  <label for="description" class="form-label">Descripción</label>
                  <div class="flex items-start gap-2 mb-2">
                    <textarea id="description" rows="5" pTextarea formControlName="description" class="w-full"
                      [ngClass]="{'ng-invalid ng-dirty': animalForm.get('description')?.hasError('infraction')}"></textarea>
                    <button type="button" pButton icon="pi pi-sparkles" (click)="generateDescription()"
                      pTooltip="Generar descripción con IA" tooltipPosition="top" [disabled]="isAnimalScaled"></button>
                  </div>
                  <small *ngIf="animalForm.get('description')?.hasError('infraction')" class="">
                    <p-message severity="error" icon="pi pi-exclamation-triangle" variant="simple" size="small">
                      {{ animalForm.get('description')?.errors?.['infraction'] }}
                    </p-message>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <p-divider></p-divider>

        <div class="flex gap-4">
          <div class="w-1/3 p-4">
            <div class="flex flex-column">
              <span class="text-neutral-600 text-lg">
                Configuración adicional
              </span>
              <span class="text-gray-400 text-sm">
                Ajusta el estado de adopción del animal y la visibilidad pública.
              </span>
            </div>
          </div>
          <div class="w-full p-4">
            <div class="flex gap-4">
              <div class="w-1/2">
                <div class="field">
                  <label for="animalState" class="form-label">Estado</label>
                  <p-select id="state" formControlName="state" [options]="states" optionLabel="label"
                    optionValue="value" placeholder="Selecciona un estado" styleClass="w-full">
                  </p-select>
                </div>
              </div>
              <div class="w-1/2">
                <div class="field">
                  <label for="animalPublish" class="form-label">Publicar</label>
                  <p-togglebutton formControlName="published" [onIcon]="'fa fa-eye'" [onLabel]="'Visible'"
                    [offLabel]="'No visible'" [offIcon]="'fa fa-eye-slash'" class="w-full sm:w-40"
                    aria-label="Confirmation" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <p-divider></p-divider>

        <div class="flex gap-4" *ngIf="isEditMode">
          <div class="w-1/3 p-4">
            <div class="flex flex-column">
              <span class="text-neutral-600 text-lg">
                Datos de la protectora
              </span>
              <span class="text-gray-400 text-sm">
                Detalles de la organización que lo cuida.
              </span>
            </div>
          </div>
          <div class="w-full p-4">
            <div class="flex gap-4">
              <div class="w-1/2">
                <div class="field">
                  <label for="protectressName" class="form-label">Nombre</label>
                  <input id="protectressName" type="text" pInputText [value]="dataProtector?.name" class="w-full"
                    disabled />
                </div>

                <div class="field">
                  <label for="protectressPhone" class="form-label">Teléfono</label>
                  <input id="protectressPhone" type="text" pInputText [value]="dataProtector?.phone" class="w-full"
                    disabled />
                </div>
              </div>

              <div class="w-1/2">
                <div class="field">
                  <label for="protectressEmail" class="form-label">Email</label>
                  <input id="protectressEmail" type="text" pInputText [value]="dataProtector?.email" class="w-full"
                    disabled />
                </div>

                <div class="field">
                  <label for="protectressProvince" class="form-label">Provincia</label>
                  <input id="protectressProvince" type="text" pInputText [value]="dataProtector?.province"
                    class="w-full" disabled />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="form-buttons-floating">
      <p-button label="Cancelar" icon="pi pi-times" (click)="cancel()" styleClass="p-button-secondary" [raised]="true"
        [rounded]="true"></p-button>
      <p-button label="Guardar cambios" icon="pi pi-save" (click)="saveAnimal()"
        [disabled]="!animalForm.valid || spinnerModal" [raised]="true" [rounded]="true"></p-button>
    </div>
  </div>
</div>

<!-- Modal de "Guardando" -->
<p-dialog header="" [(visible)]="spinnerModal" [modal]="true" [closable]="false" [draggable]="false" [resizable]="false"
  [style]="{ width: '250px' }">
  <div class="saving-modal-content">
    <p-progressSpinner styleClass="w-8 h-8" strokeWidth="4" animationDuration=".5s"></p-progressSpinner>
    <span class="mt-4 text-lg font-semibold">{{textModal}}</span>
  </div>
</p-dialog>

<p-dialog header="" [modal]="true" [(visible)]="showModalSuspendedAccount" [style]="{ width: '30rem' }" [closable]="false"
  [closeOnEscape]="false" [dismissableMask]="false">
  <div class="flex flex-col items-center text-center p-6">
    <i class="pi pi-exclamation-triangle text-red-500 text-6xl mb-4"></i>
    <h2 class="text-2xl font-bold mb-2 text-red-700">Cuenta Suspendida</h2>
    <p class="text-gray-600">
      Tu cuenta ha sido suspendida por uso de lenguaje inapropiado.
    </p>
    <p class="text-gray-600 mt-2">
      Serás desconectado automáticamente en unos segundos.
    </p>
    <div class="mt-5">
      <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="var(--surface-ground)"
        animationDuration=".5s"></p-progressSpinner>
      <p class="text-gray-500 mt-2">Desconectando...</p>
    </div>
  </div>
</p-dialog>
