/* Contenedor principal para centrar el formulario en la página */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

/* Usamos :host para asegurar que los estilos se apliquen al componente */
:host {
  display: block;
  height: 80vh; /* Ocupa toda la altura de la pantalla */
}

