<div class="statistics-container">
  <div class="metrics-grid">
    <p-card header="Pendientes de publicar" class="metric-card">
      <div class="metric-value">{{animalsPending}}</div>
    </p-card>
    <p-card header="Total de Animales" class="metric-card">
      <div class="metric-value">{{animalsTotal}}</div>
    </p-card>
    <p-card header="Adopciones Completadas" class="metric-card">
      <div class="metric-value">{{animalsAdopted}}</div>
    </p-card>
    <p-card header="En adopción" class="metric-card">
      <div class="metric-value">{{animalsInAdoption}}</div>
    </p-card>
    <p-card header="En acogida" class="metric-card">
      <div class="metric-value">{{animalsInHome}}</div>
    </p-card>
    <p-card header="Total de gatos" class="metric-card">
      <div class="metric-value">{{animalsCats}}</div>
    </p-card>
    <p-card header="Total de perros" class="metric-card">
      <div class="metric-value">{{animalsDogs}}</div>
    </p-card>
    <!-- <p-card header="Reservados" class="metric-card">
      <div class="metric-value">3</div>
    </p-card> -->
    <!-- <p-card header="Solicitudes Pendientes" class="metric-card">
      <div class="metric-value">25</div>
    </p-card> --><!-- <p-card header="Nuevos Usuarios (último mes)" class="metric-card">
      <div class="metric-value">34</div>
    </p-card> -->
  </div>
</div>
